BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
SpaceAfterCStyleCast: true
SortIncludes: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: true
IndentCaseLabels: true
